.container{
    max-width: calc( 100vw - 237px );
    margin: 30px auto;
}

.box{
    width: 100%;
    min-height: 100vh;
}


.filter{
    background-color: #1D1128;
    max-width: 76.5%;
    margin:0 auto;
    height: 60px;
    border-radius: 70px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box hr{
    max-width: 76.5%;
    margin-bottom: 30px;
}

.box ul {
    padding: 0px 40px 30px 40px;
    display: flex;
    flex-wrap:wrap;
    max-width: 72%;
    margin:0 auto;
    justify-content: flex-start;
}

