.container{
    max-width: calc( 100vw - 237px );
    margin: 30px auto;
}

.box{
    width: 100%;
    min-height: 100vh;
}


.filter{
    background-color: #1D1128;
    max-width: 76.5%;
    margin:0 auto;
    height: 60px;
    border-radius: 70px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box hr{
    max-width: 76.5%;
    margin-bottom: 30px;
}

.box .listData {
    padding: 0px 40px 30px 40px;
    display: flex;
    flex-wrap:wrap;
    max-width: 72%;
    margin:0 auto;
    justify-content: flex-start;
}



@media screen and (max-width:374px) {
    .box .listData{
        width: 63% !important;
        padding: 0px 73px 30px 8px;
    }
}

@media screen and (min-width:375px) and (max-width:425px) {
    .box{
        min-height: unset;
    }

    .box .listData{
        flex-wrap: unset;
        overflow-x: scroll;
        width:65%;
    }
    
}
@media screen and (min-width:1024px) and (max-width:1365px) {
    .box .listData{
        max-width: 100% ;
        margin: 0 64px 0 64px;
    }
}

@media screen and (max-width:1366px) {
    .container{
        max-width: 100%
    }

    .box .listData{
        max-width: 90% ;
    }
}