.container{
    background-color: #1D1128;
    padding: 10px 10px 10px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    min-height: 56px;
    box-shadow:0 0 6px 1px black;
}

.boxLimiter{
    display: flex;
    max-width: 97%;
    margin: 5px 30px;
    justify-content: space-between;
}

.boxLogo{
    display: flex;
    max-width: 50px;
}

.box{
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    align-items: center;
}

.boxUser{
    color: white;
    margin: 0 10px 0 auto;
    font-family: 'Montserrat', sans-serif;
}



.boxCart{
    max-width: 50px;
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
}

.boxCart img {
    max-width: 100%;
    filter:invert(1);
}

.boxQuanty{
    background-color: rgb(192, 112, 8);
    padding: 5px;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
