.container{
    background-color: #1D1128;
    padding: 10px 10px 10px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    min-height: 56px;
    box-shadow:0 0 6px 1px black;
}


.limiter{
    max-width: 1920px;
    margin: 0 auto;
}

.boxLimiter{
    display: flex;
    max-width: 97%;
    margin: 5px 30px;
    justify-content: space-between;
}

.boxLogo{
    display: flex;
    max-width: 50px;
}

.box{
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    align-items: center;
}

.boxUser{
    color: white;
    margin: 0 10px 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.boxUser .logout{
    border: 0;
    margin: 5px 5px 0 0;
    padding: 6px;
    font-weight: bold;
    border-radius: 70px;
    background-color: orange;
    cursor: pointer;
}

.loginButton{
    color: orange;
    border: 0;
    background-color: #1d112800;
    font-weight: bold;
    margin: 0 ;
    font-size: 18px;
    cursor: pointer;
    margin: 0 64px 0 auto;
    font-family: roboto-mono;
}



@media only screen and (max-width:425px) {
    
    .boxUser{
        position: fixed;
        background-color: #1D1128;
        display: flex;
        bottom: 0;
        left: 0;
        width: 100%;
        justify-content: space-between;
        padding: 5px;
        align-items: center;
    }


    .boxUser .logout{
        margin: 5px 34px 0 0;
    }
}