.container{
    background-color: #1D1128;
    padding: 10px 10px 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    min-height: 56px;
    box-shadow:0 0 6px 1px black;
}

.boxLogo {
    background-color: #1D1128;
    max-width: 220px;
    max-height: 75px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.logoEnterprise{
    max-width: 50px;
    filter: invert(1);
}

.quanty{
    text-align: center;
    font-size: 20px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
}

.quanty p {
    font-size: 20px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #C9ADA1;
    padding: 5px;
    border-radius: 100%;

}
