.container {
    background-color: #1D1128;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.box{
    max-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.boxLogo{
    width: 100px;
    display: flex;
    flex-direction: column;
}

.boxLogo p{
    margin-top: 10px;
    font-size: 35px;
}